html{
    font-size: 16px;
}
body{
    background-color: lightblue;
}

#startScreen, #instructionScreen, #gameScreen, #endScreen, #scoresScreen, #smallScreen{
    width: 80vw;
    max-width: 1920px;
    height: 80vh;
    margin: 0 auto;
    background-image: url('../pictures/background.jpg');
    background-repeat: no-repeat;
    background-size:cover; 
    position: relative;
    display: none;
}
.bold{
    font-weight: bold;
}
.inline{
    display: inline-block;
}

/* START SCREEN */
#startScreen{
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a{
    &:link{
        text-decoration: none;
    }
    &:visited{
        color: black;
    }
    &:hover{
        color: white;
    }
}

.button{
    padding: 10px;
    margin-top: 20px;
    border: 2px solid white;
    background-color: lightblue;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1.57rem;
    text-align: center;
    font-weight: bold;
}

.author{
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: 0.5px solid white;
    background-color: lightblue;
    opacity: 0.5;
    padding: 2px;
    p{
        font-size: 0.625rem;
    }    
}

/* INSTRUCTION */
#instructionScreen{
    border: 2px solid yellow;
    //display: flex; //added in js
    flex-direction: column;
    align-items: center;
    .instructionText{
        padding: 20px 20px;
        //font-size: 1.57rem;
        text-align: center;
    }
    .instruction{
      //  width: 55%; //75% 
        margin: 10vh auto;
    }
    p{
            font-size: 1.5rem;
        }
}
.user{
    vertical-align:top;
    p{
        color:darkgreen;
    }
    .diverInstruction{
        background-image: url(../pictures/scuba-diving-147683_640.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 180%;
        height: 100px;
    }
}

.profit{
    margin-left: 150px;
    vertical-align:top;
    p{
        color:darkblue;
    }
    ul{
        margin-top: 20px;
    }
}
.dangerInstruction{
    margin-left: 60px;
    vertical-align:top;
    p{
        color: red;
    }
    div{
        vertical-align:top;
        display: inline-block; 
        mergin-left: 30%;
    }     
}
.fishBlackInstruction{
    background-image: url(../pictures/fishes.png);
    width: 88px;
    height: 63px;
    //@include supportForBrowsers(fishBlackAnimationRight 1s steps(4) infinite);
}
/*.diver2Instruction{
    width: 60%;
    height: 60%;
    margin-left: 20px;
}
*/
.diver{
    background-image: url(../pictures/scuba-diving-147683_640.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
}
.direction{
    position: absolute;
   // bottom: 10px;
    margin-top: 50vh;
    padding: 20px;
    ul{
        margin-left: 20%;
        li{
            &:nth-child(1){
                margin-left: 108px;
            }
            &:nth-child(2){
                margin-left: 53px;
            }
        }
    }
}
li{
    list-style-type: none;
}
.box{
    border: 3px solid black;
    border-radius: 10%;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    position: relative;
}
i{
    position: absolute;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent white transparent;
    left: 18%;
}
.up{
   top: 25%;
}
.left{
    transform: rotate(-90deg);
    top: 25%;
}
.down{
    transform: rotate(-180deg);
    top: 35%;
}
.right{
    transform: rotate(90deg);
    top: 25%;
}
.endGameBtn{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* GAME SCREEN */
#gameScreen{
    display: none;
    width: 90vw;
    margin: 0 auto;
    border: 2px solid yellow;
    overflow: hidden;
}
#information{
    width: 80vw;
    height: 15vh;
    margin: 0 auto;
    display: none;
}
.silverCoin{
    @include coins;
    background-color: silver;
}
.goldCoin{
    @include coins;
    background-color: gold;
}
.diver2{
    position: absolute;
    z-index: 10;
    img{
        width: 100%;
        height: 100%;
    }
}
.diver3{
    position: absolute;
    z-index: 12;
    img{
        width: 100%;
        height: 100%;
    }
}
.fishBlack0{
    @include fishImage;
    width: 88px;
    height: 63px;
    top: 20vh;
    left: 80vw;
    z-index: 11;
    @include supportForBrowsers(fishBlackAnimationLeft .5s steps(4) infinite);
}
.fishBlack1, .fishBlack2 {
    @include fishImage;
    z-index: 1;
    width: 88px;
    height: 63px;
    @include supportForBrowsers(fishBlackAnimationRight 1s steps(4) infinite);
}
.fishBlack3{
    @include fishImage;
    z-index: 1;
    width: 88px;
    height: 63px;
}
.fishBlack4{
    @include fishImage;
    z-index: 1;
    width: 88px;
    height: 63px;
    @include supportForBrowsers(fishBlackAnimationLeft 1s steps(4) infinite, fishBlackAnimation 10s infinite);
}
.fishBlue{
    @include fishImage;
    z-index: 13;
    width: 114px;
    height: 75px;
    top: 10vh;
    left: 50vw;
    @include supportForBrowsers(fishBlueAnimation 500ms steps(4) infinite, fishBlueAnimation2 45s);
}
.fishGreen{
    @include fishImage;
    z-index: 5;
    width: 126px;
    height: 90px;
    left: 70vw;
    top: 90vh;
    @include supportForBrowsers(fishGreenAnimation 500ms steps(4) infinite, fishGreenAnimation2 45s);
}
.fishRed{
    @include fishImage;
    z-index: 10;
    width: 125px;
    height: 84px;
    top: 10vh;
    left: 10vw;
    @include supportForBrowsers(fishRedAnimation 2s steps(4) infinite, fishRedAnimation2 45s);
}
.fishYellow{
    @include fishImage;
    z-index: 11;
    width: 101px;
    height: 77px;
    top: 90vh;
    left: 90vw;
    @include supportForBrowsers(fishYellowAnimation 500ms steps(4) infinite,  fishYellowAnimation2 23s infinite);
}
.fishPurple{
    @include fishImage;
    z-index: 5;
    width: 123px;
    height: 100px;
    top: 40vh;
    left: 60vw;
    @include supportForBrowsers(fishPurpleAnimation 2s steps(4) infinite);
}
.smallButton{
    border: 2px solid white;
    background-color: lightblue;
    opacity: 0.5;
    cursor: pointer;
    right: 20px;
    font-size: 1rem;
    font-weight: bold;
}


/* END SCREEN */
#endScreen{
    text-align: center;
    font-size: 1.375rem;
    h2{
        padding-top: 30px;
    }
}
.addScore{
    margin-top: 45px;
    label{
        margin-left: 15px;
        input{
            padding: 5px;
        }
    }
}
.tableScores{
    width: 50vw;
    margin: 0 auto;
    list-style: none;
    li{
        font-size: 1.25rem;
        font-weight: bold;
        color:darkblue;
        margin-top: 3px;
        p{
            display: inline-block;
            padding-left: 2vw;
            width: 20vw;
            border: 1px solid lightblue;
            text-align: center;
        }
    }
}
.showResult2{
    background-color: transparent;
    width: 50px;
    font-size: 1.5rem;
}
/* SMALL SCREEN */
#smallScreen{
    .smallScreen{
        width: 60vw;
        font-size: 2rem;
        margin: 0 auto;
        padding-top: 30vh;
        text-align: center;
    }
}

/* SCORES SCREEN */
#scoresScreen{
    .scoresScreenText{
        width: 60vw;
        font-size: 2rem;
        margin: 0 auto;
        padding-top: 30vh;
        text-align: center;
    }
}