/* classes used in script.js - not used in index.html */

.finalCounting{
    color: red;
    font-size: 32px;
    @include supportForBrowsers(finalCounting 1s 5s infinite);
}

.moveToLeft{
    @include supportForBrowsers(moveToLeft 10s forwards);
}

.moveToBottom{
    @include supportForBrowsers(moveToBottom 10s forwards);
}

.invisible{
    display: none;
}