@mixin supportForBrowsers($animation...){
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin finalCounting{
     0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
   
@mixin moveToLeft{
     100%{
        transform: translateX(-500px) translateY(-50px);
    }
}
@mixin moveToBottom{
     100%{
        transform: translateY(80px);
    }
}

@mixin fishImage{
    background-image: url(../pictures/fishes.png);
    position: absolute;
}

@mixin coins{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
}

@mixin fishBlackAnimationLeft{
     0%{
        background-position:  5px -548px;
    }
    100%{
        background-position: -360px -548px;
    }
}

@mixin fishBlackAnimationRight{
     0%{
        background-position:  5px 0px;
    }
    100%{
        background-position: -360px 0px;
    }
}

@mixin fishBlackAnimation{
    0%{
        transform: translate(480px, 500px) scale(.5);
    }
    70%{
        transform: translate(300px, -100px) scale(1);
    }
    100%{
        transform: translate(0px, 0px) scale(1.2);
    }
}

@mixin fishBlueAnimation{
    0%{
        background-position:  0px -84px;
    }
    100%{
        background-position: -456px -84px;
    }
}

@mixin fishBlueAnimation2{
     20%{
        transform: scale(0.5);
        top: 50vh;
    }
    50%{
        left: 10vw;
        transform: scale(1);
    }
    100%{
        top: -20vh;
        transform: scale(0.5);
    }
}

@mixin fishGreenAnimation{
    0%{
        background-position:  0px -173px;
    }
    100%{
        background-position: -504px -173px;
    }
}

@mixin fishGreenAnimation2{
    10%{
        left: 60vw;
        top: 60vh;
        transform: scale(0.5);
    }
    50%{
        left: 40vw;
    }
    100%{
        left: 10vw;
        top: 30vh;
    }
}

@mixin fishRedAnimation{
    0%{
        background-position:  0px -264px;
    }
    100%{
        background-position: -507px -264px;
    }
}

@mixin fishRedAnimation2{
    0%{
        transform: translate(800px, -100px);
    }
    100%{
        transform: translate(600px, 300px) scale(.5);
    }
}

@mixin fishYellowAnimation{
    0%{
        background-position:  0px -372px;
    }
    100%{
        background-position: -400px -372px;
    }
}

@mixin fishYellowAnimation2{
    65%{
        left: 30vw;
        top: 70vh;
    }
    80%{
        left: 60vw;
    }
    100%{
        top: 10vh;
        left: -10vw;
    }
}

@mixin fishPurpleAnimation{
    0%{
        background-position:  0px -444px;
    }
    100%{
        background-position: -500px -444px;
    }
}